* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    /* position: fixed; */
    background-image: url(../img/backGroundImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}